/* universal start */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* common part start */
* {
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    padding: 20px 40px;
    background: #FF42A5;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 40px;
    border: 0;
    color: #FFF;
}

.primary-description {
    color: #534C64;
    font-size: 1.15em;
    font-weight: 400;
    line-height: 25px;
    /* 166.667% */
}
.liniear-color {
    background: -webkit-linear-gradient(#F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cmn-pink {
    color: rgb(222, 46, 172);
}
/* common part end */
/* header part start */
nav {
    display: flex;
    justify-content: space-between;
    padding: 34px 200px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
}

.manu {
    display: flex;
    list-style: none;
}

.manu li {
    margin-left: 34px;
    padding: 7px 7px;
}

.nav-icon {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
}

.manu li{
    transition: 0.5s;
}
.manu li:hover, .last-follow {
    background: rgba(11, 2, 35, 0.10);
    border-radius: 5px;
}

.manu .last-follow .youtube {
    color: #F61C0D;
    margin: 0 5px;
}

.manu .last-follow .tiktok {
    color: #000000;
}

/* banner part start */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    gap: 100px;
}


.banner-content {}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    font-size: 6rem;
}

.banner-content li {
    list-style: none;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    margin: 17px 0;
}

.banner-content li i {
    margin-right: 10px;
}

.primary-btn.rogue {
    background-color: #4EC5F7;
}

.banner-img img {
    width: 550px;
}

/* banner part end */
/* header part end */

/* main part start*/
.team-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.team-container {
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.team-img img {
    max-width: 700px;
}
.team-content{
    text-align: end;
}
.team-title{
    font-size: 3rem;
}
.team-p-mr{
    margin: 20px 0;
}
.team-last-purpose{
    font-size: 2em;
    font-weight: 700;
    color: #000000;
    margin: 25px 0;
}
.team-last-purpose > span{
    font-size: 1.1rem;
    font-weight: 400;
    color: #534C64;
}

/* online game part start */
.online-game-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.online-game-section{
    padding: 20px 200px;
    text-align: center;
    margin: 100px 0;
}
.online-title{
    font-size: 3rem;
    margin-bottom: 15px;
}
.card-item{
    width: 250px;
    margin-top: 40px;
}
.card-item img{
    width: 250px;
}
.card-item > .primary-description{
    width: 250px;
}
.card-item img:hover{
    
}
/* online game part end */


/* add part start */
.ad-container{
    display: flex;
    padding: 30px 200px;
    gap: 250px;
    align-items: center;
    justify-content: space-between;
}
.main-img img{
    width: 400px;
    height: 500px;
}
.main-img {
    position: relative;
}
.small-img img{
    position: absolute;
    width: 250px;
    height: 300px;
    left: -30%;
    bottom: -15%;
}
.ad-content {
    width: 350px;
    margin-left: 120px;
}
.ad-content h2{
    font-size: 2.5rem;
}
/* add part end */

/* game-item part start */
.game-item-section{
    margin: 100px 0;
}
.game-container{
    padding: 120px 200px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.game-item a:hover{
   border: 1px solid pink;
   border-radius: 50px;
}
.game-item a{
    padding: 9px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    text-decoration: none;
    transition: all linear 0.4s;
}

.game-item img{
    width: 40px;
    height: 40px;
    margin-right: 3px;
}
/* game-item part end */









/* medea queary responsive */
/* mobile responsive */
@media screen and (max-width:560px) {
    nav{
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
    }
    .manu{
        flex-direction: column;
    }
    .banner-container {
        flex-direction: column-reverse;
        margin: 0 50px;
    }
    .banner-img img{
        width: 350px;
    }
    .team-container {
        flex-direction: column;
        padding: 30px 30px;
    }
    .team-img img{
        width: 400px;
    }
    .team-content {
        text-align: center;
    }
    .online-game-section {
        padding: 20px 30px;
    }
    .online-game-container {
        flex-direction: column;
    }
    .card-item{
        margin: 0 auto;
    }
    .ad-container {
        flex-direction: column;
        padding: 30px 50px;
        gap: 70px;
    }
    .ad-content {
        margin-left: 20px;
    }
    .main-img img {
        width: 290px;
        height: 350px;
    }
    .small-img img{
        width: 180px;
        height: 220px;
        margin-left: 50px;
    }
    .game-container{
        display: grid;
        gap: 7px;
        grid-template-columns: repeat(3,1fr);
        padding: 100px 10px;

    }
    .game-item img{
        width: 28px;
        height: 28px;
    }
    .game-item a{
        padding: 3px;
    }
    .game-item span{
        font-size: 14px;
    }
    
}


/* tabled mode responsive start */
@media screen and (min-width:560px) and (max-width:960px) {
    nav{
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
    }
    .manu{
        flex-direction: column;
    }
    .banner-container {
        flex-direction: column-reverse;
        margin: 0 50px;
    }
    .banner-img img{
        width: 350px;
    }
    .team-container {
        flex-direction: column;
        padding: 30px 30px;
    }
    .team-img img{
        width: 400px;
    }
    .team-content {
        text-align: center;
    }
    .online-game-section {
        padding: 20px 30px;
    }
    .online-game-container {
        flex-direction: column;
    }
    .card-item{
        margin: 20px auto;
    }
    .ad-container {
        flex-direction: column;
        padding: 30px 50px;
        gap: 70px;
    }
    .ad-content {
        
    }
    .ad-content {
        margin-left: 20px;
        width: 450px;
        margin-left: 120px;
    }
    .main-img img {
        width: 390px;
        height: 450px;
    }
    .small-img img{
        width: 180px;
        height: 220px;
        margin-left: 50px;
    }
    .game-container{
        display: grid;
        row-gap: 50px;
        grid-template-columns: repeat(3,1fr);
        padding: 100px 10px;

    }
    .game-item img{
        width: 28px;
        height: 28px;
    }
    .game-item a{
        padding: 3px;
    }
    .game-item span{
        font-size: 14px;
    }
    
}
/* tabled mode responsive end */

